@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
img {
  max-width: 100%; }

.index, .index .presentacionProd {
  justify-content: center;
  align-items: center; }

.index h3, .index .bton {
  color: pink;
  background: white;
  padding: 15px;
  margin: 2px;
  border-radius: 30px; }

main .separadorIndex {
  display: flex;
  background-color: white;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300; }

h2, h3, h4, h5, h6 {
  font-weight: 500; }

h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  color: #f8b9f8;
  text-shadow: -3px 3px #941c1c, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2; }

main .separadorIndex h2, .nosotros h2, .container h2 {
  text-align: center;
  font-weight: bold;
  color: #f8b9f8;
  text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2; }

header {
  background-color: white; }
  header .separador {
    background-color: black;
    color: white;
    text-align: center; }
  header nav {
    display: flex;
    align-items: center;
    justify-content: center; }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
      header nav ul a {
        display: block;
        padding: 8px;
        line-height: 50px;
        background: white;
        color: black;
        text-decoration: none; }
        header nav ul a:hover {
          background: pink;
          transition: .5s; }
    header nav .redesNav {
      display: flex; }

footer {
  background-color: white; }
  footer .contactanos {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around; }

.mail {
  height: 27px;
  width: 27px;
  display: flex; }
  .mail:hover {
    background-color: lightblue; }

.ig {
  height: 27px;
  width: 27px;
  display: flex; }
  .ig:hover {
    background-color: pink; }

.fb {
  height: 27px;
  width: 27px;
  display: flex; }
  .fb:hover {
    background-color: blue; }

.tiktok {
  height: 27px;
  width: 27px;
  display: flex; }
  .tiktok:hover {
    background-color: grey; }

.wpp {
  height: 27px;
  width: 27px;
  display: flex; }
  .wpp:hover {
    background-color: green; }

footer p {
  text-align: center; }

footer .footer {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logoFooter footerNav contactanos"; }
  footer .footer .logoFooter {
    grid-area: logoFooter; }
  footer .footer .footerNav {
    grid-area: footerNav;
    padding: 30px 30px 20px 30px;
    color: black;
    background-color: white; }

footer h2 {
  font-weight: 400;
  font-size: 15px; }

footer li {
  list-style: none;
  padding-left: 0; }
  footer li a {
    text-decoration: none;
    color: #999; }

/*MEDIA QUERIE HEADER*/
@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    header .separador {
      display: none; }
    header nav {
      flex-direction: column; }
      header nav ul {
        flex-direction: column; } }

/*MEDIA QUERIE FOOTER*/
@media only screen and (max-width: 768px) {
  footer .footer {
    display: flex;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "footerNav" "contactanos"; }
    footer .footer .logoFooter {
      display: none; }
    footer .footer .footerNav {
      grid-area: footerNav; } }

/*MEDIA QUERIE INDEX*/
@media only screen and (max-width: 768px) {
  main .index .botonBanner {
    display: none; }
  main .index .presentacionProd {
    grid-template-areas: "imgIndex" "textoIndex";
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr; }
    main .index .presentacionProd .imgIndex {
      grid-area: imgIndex; }
      main .index .presentacionProd .imgIndex .textoIndex {
        grid-area: textoIndex; }
  main .index main .separadorIndex {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    background-color: #EFE5F4; }
  main .index main .separadorInd {
    flex-direction: column; }
  iframe {
    max-width: 100%; } }

.productosIndex {
  text-align: center; }

body {
  font-family: 'Roboto', sans-serif; }

.index {
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  .index h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .index h1 {
    text-align: center; }
  .index .bton {
    font-size: 1em;
    background-color: #74cbc7;
    color: white;
    font-weight: bold; }
  .index p {
    padding-bottom: 10px; }
  .index .presentacionProd {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "imgIndex ." ". textoIndex";
    padding: 15px;
    text-align: center; }
    .index .presentacionProd .imgIndex {
      grid-area: imgIndex; }
      .index .presentacionProd .imgIndex .textoIndex {
        grid-area: textoIndex; }
  .index .productosIndex:hover {
    transform: scale(1.1);
    transition: .5s; }
  .index .bton {
    text-decoration: none; }

main .separadorIndex {
  padding: 23px  19px; }
  main .separadorIndex h2 {
    padding-bottom: 10px; }
  main .separadorIndex p {
    text-align: center; }

.nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 90vh;
  width: 85vw;
  margin: 0 auto;
  grid-template-rows: auto;
  grid-template-areas: "fondo fondo" "nosotrosFoto about"; }
  .nosotros h2 {
    font-size: 2.5em; }
  .nosotros .about {
    grid-area: about;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .nosotros .about h2 {
      text-transform: uppercase;
      font-size: 36px;
      letter-spacing: 6px; }
    .nosotros .about p {
      padding-bottom: 15px;
      font-weight: 300;
      opacity: 0.7;
      width: 60%;
      line-height: 1.7; }
  .nosotros .fondo {
    grid-area: fondo; }
  .nosotros .nosotrosFoto {
    grid-area: nosotrosFoto; }

@media only screen and (max-width: 768px) {
  .nosotros {
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-areas: "fondo" "nosotrosFoto" "about"; } }

.container {
  max-width: 1180px;
  margin: 0 auto; }

.productosDestacados {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  grid-template-areas: "izquierdaProd medioProd derechaProd"; }
  .productosDestacados .izquierdaProd {
    grid-area: izquierdaProd; }
  .productosDestacados .derechaProd {
    grid-area: derechaProd; }
  .productosDestacados .medioProd {
    grid-area: medioProd; }
  .productosDestacados .derechaProd:hover, .productosDestacados .medioProd:hover, .productosDestacados .izquierdaProd:hover {
    background: pink;
    transition: .5s;
    transform: scale(1.1);
    transition: .5s; }

@media screen and (max-width: 764px) {
  .productosDestacados {
    display: block;
    padding: 10px; } }
