/*MEDIA QUERIE HEADER*/
@media only screen and (max-width: 768px) {
    header{display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .separador{display: none;}
    nav{
    flex-direction: column;
    ul{    flex-direction: column;}
    }}}

/*MEDIA QUERIE FOOTER*/ 
    @media only screen and (max-width: 768px) {
        footer{.footer {
            display: flex;
            text-align: center;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: "footerNav" "contactanos";
            .logoFooter{display: none;}
            }}}

    
/*MEDIA QUERIE INDEX*/
@media only screen and (max-width: 768px){
    main{
        .index{ .botonBanner{display: none;}
        .presentacionProd{grid-template-areas: 
            "imgIndex"
            "textoIndex";
            display: flex;
            flex-direction: column;
        grid-template-columns: 1fr;
        .imgIndex{grid-area: imgIndex;
            .textoIndex{grid-area: textoIndex;}}}
            main{
            .separadorIndex{display: flex;
            flex-direction: column;
            padding-bottom: 5px;
            background-color:  map-get($fondoSection , $key:fondo4 );
        }
    .separadorInd{flex-direction: column;}}}
        }

    iframe{max-width: 100%;}
        }    
        .productosIndex{text-align: center;}
