.nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "fondo fondo"
    ". about";
.about{grid-area: about;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;}
.fondoAbajo{grid-area: fondoAbajo;}
.fondo{
    grid-area: fondo;
    background: rgb(236,200,253);
    background: linear-gradient(90deg, rgba(236,200,253,1) 0%, rgba(156,144,250,1) 35%, rgba(243,137,177,1) 100%);}
h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    line-height: 1.7;}
}
@media only screen and (max-width: 768px){
    .nosotros{
        grid-template-columns: 1fr;
        width: 100%;
        grid-template-areas: "fondo" "about";
    }
    .fondo{
        max-width: 100%;
        height: 100px;
    }
    .about h2{
        font-size: 20px;
        margin-top: 50px;
        text-align: center;
    }
    .about p{
        font-size: 14px;
        text-align: center;
    }
    .nosotrosFoto{
        max-width: 100%;
    }
}