.container {
    max-width: 1180px;
    margin: 0 auto;
    h2{@extend %subtitulos;
    }}
    .productosDestacados {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto auto ;
        grid-gap: 20px;
        grid-template-areas: "izquierdaProd medioProd derechaProd";
            .izquierdaProd {
    grid-area: izquierdaProd;}
    .derechaProd {
    grid-area: derechaProd;}
    .medioProd{grid-area: medioProd;}
    .derechaProd , .medioProd , .izquierdaProd{    
        &:hover{
        background: $link-hover-color;
        transition: .5s;
        transform: scale(1.1);
        transition: .5s;}}}

@media screen and (max-width: 764px) {
.productosDestacados {
    display: block;
    padding: 10px;
    }
}